@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/ptsans.woff2') format('woff2'),
         url('../fonts/ptsans.woff') format('woff'),

  }

  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/ptsansbold.woff2') format('woff2'),
         url('../fonts/ptsansbold.woff') format('woff'),
  }

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.wrapper {
    position: relative;

    width: 1200px;
    margin: 0 auto;

    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.container {
    width: 1056px;
    margin: 0 auto;
}

.main-header {
    background-color: #ffffff;
}

.main-header__logo-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: 0 auto;
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    width: 20%;
    padding: 15px 0;
}

.main-nav__item:first-child {
    margin-left: 6%;
}

.main-nav__item:nth-child(3) {
    margin-left: auto;

    text-align: right;
}

.main-nav__item:nth-child(4) {
    margin-right: 6%;

    text-align: right;
}

.main-nav__link {
    color: #000000;
    line-height: 26px;
    font-weight: bold;
}

.main-nav__link:hover,
.main-nav__link:focus {
    color: #81b3d2;
}

.main-nav__link:active {
    color: #000000;
    opacity: 0.3;
}

.main-nav__link--current {
    color: #766357;
}

.welcome {
    line-height: 26px;
    
    background-color: #eee;
    background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-position: 0px -55px;
}

.welcome__top {
    text-align: center;

    background-image: url(../img/intro-mask.svg);
    background-repeat: no-repeat;
    background-position: 0 bottom;
    margin-bottom: -2px;

}

.welcome__img-text {
    margin-top: 76px;
    margin-bottom: 72px;

}

.welcome__bottom {
    padding-top: 60px;
    padding-bottom: 50px;

    text-align: center;

    background-color: #ffffff;
}

.welcome__item {
    margin: 0;
}

.welcome__item--bold {
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 27px;
}

.features {
    display: flex;
}

.features__info {
    width: 33.33%;
    flex-grow: 1;
    padding-top: 45px;

    color: #ffffff;
    line-height: 21px;
    text-align: center;

    background-color: #81b3d2;
}
.features__head {
    margin-top: 0;
    margin-bottom: 24px;

    font-size: 21px;
    font-weight: bold;
}

.features__number {
    display: block;
    margin-bottom: 22px;
}

.features__number::before,
.features__number::after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 2px;
    background-color: #ffffff;
    margin-right: 6px;
    margin-bottom: 3px;

    vertical-align: middle;
}

.features__number::after {
    margin-left: 6px;
}

.features__desc {
    margin: 0;
    bottom: 0;
}

.features__pic {
    display: flex;
    width: 66.66%;
    flex-grow: 1;
}

.features-list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style: none;
    background-color: #ffffff;
}

.features-list__item {
    padding-top: 160px;
    width: 33.33%;
    flex-grow: 1;

    color: #333333;
    line-height: 21px;
    text-align: center;

    background-repeat: no-repeat;
    background-position: 50% 60px;
}

.features-list--bg-grey {
    background-color: #eeeeee;
}

.features-list__item--small {
    padding-top: 47px;
}

.features-list__item--house {
    background-image: url(../img/icon-1.svg);
}

.features-list__item--food {
    background-image: url(../img/icon-3.svg);
}

.features-list__item--present {
    background-image: url(../img/icon-2.svg);
}

.features-list__head {
    margin: 0;
    margin-bottom: 24px;

    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.features-list__number {
    display: block;
    margin-bottom: 22px;
}

.features-list__number::before,
.features-list__number::after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 2px;
    background-color: #333333;
    margin-right: 6px;
    margin-bottom: 3px;
    
    vertical-align: middle;
}

.features-list__number::after {
    margin-left: 6px;
}

.features-list__desc {
    margin: 0;
    margin-bottom: 83px;
}

.features-list__desc-space {
    margin-bottom: 60px;
}

.promo {
    padding-top: 55px;

    color: #333333;
    line-height: 24px;
    text-align: center;

    background-color: #ffffff;
}

.promo__item {
    margin: 0;
}

.promo__item-head {
    margin-bottom: 19px;

    font-size: 30px;
    line-height: 36px; 
    font-weight: bold;
}

.promo__item-desc {
    margin-bottom: 49px;
}

.button-popup {
    padding: 30px 140px;

    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;

    border: none;
    background-color: #766357;
    cursor: pointer;
}

.button-popup:hover, 
.button-popup:focus{
    background-color: #604e43;
}
 
.button-popup:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.map {
    display: flex;
}

.search-hotel {
    display: block;
    position: absolute;
    left: 0;
    right: 0;

    width: 568px;
    margin: 0 auto;
    padding: 55px 0;

    background-color: #fff;
}

.search-hotel__form {
    position: relative;

    width: 458px;
    margin: 0 auto;

    line-height: 26px;
    font-weight: bold; 
}

.search-hotel__item {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 29px;
}

.search-hotel__label {
    width: 95px;
    align-self: center;
    
    text-align: left;
}

.search-hotel__date {
    width: 346px;
    box-sizing: border-box;
    padding: 6px 0 6px 13px;

    background-color: #f2f2f2;
    border: 2px solid transparent;
} 

.search-hotel__date::placeholder {
    color: #000000;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.search-hotel__date:hover,
.search-hotel__number:hover {
    background-color: #ebebeb;
}

.search-hotel__date:focus,
.search-hotel__number:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.button-date {
    position: absolute;
    right: 0px;
    display: flex;
    height: 100%;

    border: none;
    background: none;  
}

.button-date .button-date__icon {
    fill: #cacaca;
}

.button-date:hover .button-date__icon,
.button-date:focus .button-date__icon {
    fill: #000000;
    cursor: pointer;
}

.button-date:active .button-date__icon {
    fill: #81b3d2;
}

.search-hotel__persons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.persons__item {
    position: relative;
    
    width: 226px;
    display: flex;
    margin: 0;
}

.persons__label {
    width: 95px;
    align-self: center;
    
    text-align: left; 
}

.persons__label--size {
    width: 88px;

    text-align: right;
}

.persons__control {
    padding: 16px 0;
    width: 40px;

    border: none;
    background-color: #f2f2f2;

    cursor: pointer;
}

.persons__control:hover .persons__control-bg,
.persons__control:hover .persons__control-bg::after{
    background-color: #000000;
}

.persons__control:active .persons__control-bg,
.persons__control:active .persons__control-bg::after{
    background-color: #81b3d2;
}

.persons__control-minus {
    margin-left: auto;
}

.persons__control-bg {
    position: relative;

    display: block;
    width: 11px;
    height: 3px;
    margin: 0 auto;

    background-color: #a9a9a9;
}

.persons__control-bg-plus::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 11px;
    margin: 0 auto;
    background-color: #a9a9a9;
    top: -4px;
    left: 0;
    right: 0;
}

.persons__number {
    width: 34px;
    border: none;

    font-weight: bold;
    text-align: center;
    background-color: #f2f2f2;
}

.persons__number:focus {
    background-color: #ffffff;
}

.search-hotel__cotnrol {
    border: none;
}

.search-hotel__button-submit {
    width: 100%;
    padding: 15px 0;

    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;

    background-color: #81b3d2;
    border: none;

    cursor: pointer;
}

.search-hotel__button-submit:hover,
.search-hotel__button-submit:focus {
    background-color: #669ec0;
}

.search-hotel__button-submit:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.filters {
    background-color: #766357;
    background-image: url('../img/filter-background.jpg');
    background-repeat: no-repeat;
}

.filter-form {
    display: flex;

    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.filter__wrap {
    display: flex;
    border: none;
}

.filter__title {
    font-size: 16px;
    font-weight: bold;
}

.filter__button {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    
    border: 2px solid #ffffff;
    background: none;
    cursor: pointer;
}

.filter-bottom {
    padding: 35px 0;

    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5 ;
}

.filter__list {
    display: flex;
    align-items: baseline;
}

.filter__item-result {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.filter__head, 
.filter__sum {
    display: inline-block;
    vertical-align: top;
}

.filter__item-type {
    display: flex;
    margin-left: 50px;

    font-size: 12px;
    line-height: 18px;
}

.filter__head--small {
    display: flex;
    margin-right: 40px;
}

.options__list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.options__item {
    margin-right: 35px;
}

.options__link {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.options__link:hover,
.options__link:focus {
    color: #81b3d2;
}

.options__link:active {
    color: #000000;
}

.filter__item-button {
    margin-left: auto;
}

.options__link--active {
    color: #81b3d2;
}

.sorting__icon {
    fill: #cacaca;
}

.sorting__button:hover .sorting__icon,
.sorting__button:focus .sorting__icon  {
    fill: #231f20;
}

.sorting__button:active .sorting__icon {
    fill: #81b3d2;
}

.sorting__button--active {
    margin-left: 9px;
}

.sorting__button--active .sorting__icon {
    fill: #81b3d2;
}

.hotels {
    background-color: #ffffff;
}

.hotels__list {
    margin: 0;
    padding: 0;
    
    color: #333333;
    list-style: none;
}

.hotels__item {
    display: flex;
    padding: 30px 72px;

    border-bottom: 1px solid #e5e5e5 ;
}

.hotels__img {
    margin-right: 30px;
}

.hotels__head {
    margin: 0;
    margin-bottom: 8px;
    color: #000000;
    font-size: 21px;
    line-height: 26px;

    cursor: pointer;
}

.hotels__head:hover,
.hotels__head:focus {
    color: #81b3d2;
}

.hotels__head:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotels__wrap {
    display: flex;
    justify-content: space-between;
    width: 258px;
}

.hotels__details {
    width: 110px;
}

.hotels__price {
    width: 142px;
}

.hotels__text {
    display: block;
    margin-bottom: 15px;
}

.hotels__button {
    padding: 3px 17px;

    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.hotels__button--blue {
    background-color: #81b3d2;
}

.hotels__button--blue:hover,
.hotels__button--blue:focus {
    background-color: #669ec0;
}

.hotels__button--blue:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.hotels__button--brown {
    background-color: #766357;
}

.hotels__button--brown:hover,
.hotels__button--brown:focus {
    background-color: #604e43;
}

.hotels__button--brown:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.hotels-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;   
}

.hotels-rating__stars {
    height: 17px;

    background-image: url(../img/star.svg);
    background-repeat: space;
}

.hotels-rating__stars--four {
    width: 89px;
}

.hotels-rating__stars--three {
    width: 62px;
}

.hotels-rating__stars--two {
    width: 40px;
}

.hotels-rating__number {
    padding: 3px 13px 3px 17px;
    line-height: 21px;
    color: #666666;
    background-color: #f2f2f2 ;
}

.main-footer {
    background-color: rgba(255, 255, 255, 0.9);
}

.main-footer--position {
    position: absolute;
    bottom: 0;

    width: 100%;
}

.main-footer__wrap {
    display: flex;
    padding: 0 6%;;
}

.footer-item {
    padding-top: 30px;
    width: 33.33%;
    flex-grow: 1;
}

.footer-item__contacts-wrap {
    margin-left: 52px;
}

.footer-item__contacts {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-item__hashtag {
    display: block;
    margin-bottom: 7px;
}

.footer-item__phone {
    margin: 0;
    margin-bottom: 32px;
}

.footer-item__socials {
    display: flex;
    justify-content: center;
}

.footer-item__link {
    color: #000000;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-list__item {
    display: inline-block;
}
.social-list__link {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 48px;

    background-color: #81b3d2;
}

.social-list__link:hover,
.social-list__link:focus {
    background-color: #669ec0;
}

.social-list__link:active {
    background-color: #5496bd;
}

.social-list__icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    fill: #ffffff;
}

.social-list__link:active .social-list__icon {
    fill: rgba(255, 255, 255, 0.3);
}

.footer-item-copyrigth {
    text-align: right;
}

.footer-item-copyrigth-wrap {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.footer-copyrigth__desc {
    align-self: center;
    margin-right: 8px;
}

.footer-copyrigth__link:hover .footer-copyrigth__icon,
.footer-copyrigth__link:focus .footer-copyrigth__icon {
    fill: #81b3d2;
}

.footer-copyrigth__link:active .footer-copyrigth__icon {
    fill: #bdbbbc;
}

